In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6
=> [*,'hello',-,/,+,6]

In [ ]:
2. What is the difference between string and variable?
=>A Variable is a store of information, and a String is a type of information you would store in a Variable.
A String is usually words, enclosed with (""/'').

In [1]:
3. Describe three different data types.
=> Integer, String, Float.

In [2]:
4. What is an expression made up of?What do all expressions do?
=> An expression is a combination of values and operators. All expressions evaluate (that is, reduce) to a single value.

[]

In [ ]:
5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
=>An expression evaluates to a single value & expression is the part of the statement. A statement does not.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
=>The bacon variable is set to 20. 
The bacon + 1 expression does not reassign the value in bacon (that would need an assignment statement: bacon = bacon + 1)

In [3]:
7. What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3
=>'spamspamspam'

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?
=>Variable names cannot begin with a number.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
=>The int(), float(), and str().

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 +'burritos'
=>The expression causes an error because 99 is an integer.
 sol---- 'I habe eaten '+ str(99) +' burritos'

In [4]:
'I habe eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

In [8]:
'I habe eaten '+ str(99) +' burritos'

'I habe eaten 99 burritos'